@charset "ISO-8859-1";

/*body{
	background-color:#FFEB55 !important;
}*/
*{
	margin:0px;
	padding:0px;
}
#navBar{
	background-color: #640D5F !important;
}

.bg-primary{
	
}
.banner{
	width:100%;
	height: 120vh;
	color:white;
	background:linear-gradient(rgb(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/background.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.footer{
	background-color: #FFEB55;
}

.card--body{
	color:#640D5F;
}
.bg{
	background-color: aliceblue;
}

/*side bar style*/

@media only screen and (max-width:1000){}

.sidebar{
	width: 18%;
	background:rgb(255, 255, 255);
	padding-top:45px;
	position: fixed;
	height: 100%;
}
.sidebar a{
	color: #640D5F;
	padding: 10% 20%;
	width:100%;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.sidebar a:hover{
	background-color: #640D5F;
	color: white;
	text-decoration: none;
}
.sidebar .divider{
	background-color: #e2e2e2;
	margin-top:10px;
	width: 100%;
	height: .5px;
}

.content{
	margin-left:20%;
}
