* {
    margin: 0;
    padding: 0;
}
#navBar {
    background-color: #640D5F !important;
}
.sidebar {
    width: 250px;
    background: rgb(255, 255, 255);
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.sidebar a {
    display: block;
    padding: 15px;
    color: #640D5F;
    text-decoration: none;
    text-transform: uppercase;
}
.sidebar a:hover {
    background-color: #640D5F;
    color: white;
}
.sidebar .divider {
    background-color: #e2e2e2;
    height: 1px;
    margin: 10px 0;
}
.sidebar.open {
    left: 0;
}
.content {
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}
.sidebar.open + .content {
    margin-left: 250px;
}
.no-scroll {
    overflow: hidden;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #640D5F;
}
@media (max-width: 768px) {
    .sidebar {
        width: 80%;
        left: -80%;
    }
    .sidebar.open {
        left: 0;
    }
    .sidebar.open + .content {
        margin-left: 0;
    }
}
