<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">

<head>
	<title>Update User</title>
	<meta charset="UTF-8">
</head>

<body>
	<section>
		<form th:action="@{/admin/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">
		    <input type="hidden" name="id" th:value="${user.id}" />

		    <label>Name:</label>
		    <input type="text" name="name" th:value="${user.name}" required />

		    <label>Email:</label>
		    <input type="email" name="email" th:value="${user.email}" required />

		    <label>Status:</label>
		    <select name="enabled">
		        <option th:value="true" th:selected="${user.enabled}">Active</option>
		        <option th:value="false" th:selected="${!user.enabled}">Inactive</option>
		    </select>

		    <button type="submit">Update</button>
		</form>

	</section>
</body>

</html>