<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">

<!--<head>
	<title>Admin Dashboard</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>-->

<body>
	<section>
		<div>
			<div class="heading">
				<h1>User Info</h1>

			</div>
			<div id="message">
				<p th:if="${message}" class="text-uppercase" style="color: red; text-align: center;"
					th:text="${message}"></p>
			</div>
			<div id="search" class="navbar navbar-light bg-light justify-content-between">
				<form class="form-inline" th:action="@{/admin/users/search}" method="get">
					<input class="form-control mr-sm-2" type="text" name="keyword"
						placeholder="Search by name or email" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">S.No</th>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">About</th>
						<th scope="col">Email</th>
						<th scope="col">Status</th>
						<th scope="col">Active/Inactive</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,iterStat : ${users}">
						<td th:text="${iterStat.index + 1}"></td>
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.about}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.enabled ? 'Active' : 'Inactive'}"></td>
						<!--togle button enable and disable-->
						<td>
							<form th:action="@{/admin/users/toggleStatus}" method="post">
								<input type="hidden" name="id" th:value="${user.id}" />
								<button type="submit" th:text="${user.enabled ? 'Deactivate' : 'Activate'}"
									th:class="${user.enabled ? 'btn btn-danger' : 'btn btn-success'}">
								</button>
							</form>
						</td>
							<td>														
							</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>

</html>